<div>
  <div class="row racr-table-head">
    <div class="columns medium-4 hide-for-small">&nbsp;</div>
    <div class="columns medium-2 small-3 racr-result">Chisholm</div>
    <div class="columns medium-2 small-3 racr-result">Flynn</div>
    <div class="columns medium-2 small-3 racr-result">Monash</div>
    <div class="columns medium-2 small-3 racr-result">Gilmore</div>
  </div>
  <div class="row racr-total">
    <div class="columns medium-4 small-12">Total</div>
    <div class="columns medium-2 small-3 racr-result">1234</div>
    <div class="columns medium-2 small-3 racr-result">2345</div>
    <div class="columns medium-2 small-3 racr-result">3456</div>
    <div class="columns medium-2 small-3 racr-result">4567</div>
  </div>
  <div class="row racr-result-row">
    <div class="columns medium-4 small-12">18+ Boys</div>
    <div class="columns medium-2 small-3 racr-result">33</div>
    <div class="columns medium-2 small-3 racr-result">67</div>
    <div class="columns medium-2 small-3 racr-result">100</div>
    <div class="columns medium-2 small-3 racr-result">133</div>
  </div>
  <!-- ... -->
  <div class="row racr-result-row">
    <div class="columns medium-4 small-12">12 Girls</div>
    <div class="columns medium-2 small-3 racr-result">33</div>
    <div class="columns medium-2 small-3 racr-result">67</div>
    <div class="columns medium-2 small-3 racr-result">100</div>
    <div class="columns medium-2 small-3 racr-result">133</div>
  </div>
</div>