<div class="racr-result-me">
  <div class="row">
    <div class="columns medium-4">Event:</div>
    <div class="columns medium-8">400M Sprint - 16 Boys</div>
  </div>
  <div class="row">
    <div class="columns medium-4">Result:</div>
    <div class="columns medium-8">1:06.24</div>
  </div>
  <div class="row">
    <div class="columns medium-4">Winning Time:</div>
    <div class="columns medium-8">1:06.24</div>
  </div>
  <div class="row">
    <div class="columns medium-4">School Record (McKinnon)</div>
    <div class="columns medium-8">1:02.24</div>
  </div>
  <div class="row">
    <div class="columns medium-4">Australian Record:</div>
    <div class="columns medium-8">0:48.123</div>
  </div>
  <div class="row">
    <div class="columns medium-4">World Record:</div>
    <div class="columns medium-8">0:45.123</div>
  </div>
</div>